// basic

*, *:before, *:after {
	@include box-sizing;
}

html{
  height: 100%;
  width: 100%;
}

body{
  min-height: 100%;
  width: 100%;
	color: $grey;
}

nav, aside{
	
	ul{
		list-style: none;
	 	padding-left: 0;
	}
}

/* LINK BASIC */

a{
	color: $link-color;
	text-decoration: none;
	&:hover:not(.button), &.active{
		color: $link-color-active;
	}

}

/* paragraphe and title basic */

h1, h2, h3, h4, h5, h6{
	text-transform: uppercase;
	font-weight: 800;
	line-height: 1;
}

h2{
	font-size: $ft-size-hudge;
}

hr{
}

.container{
	display: block;
}

p{
	font-size: $ft-size-large;
}

.content{
	width: 41.25em;
	margin: $gutter-medium auto;
	line-height: 1.5;
	
	hr{
	}
	
	h4{
	}

	> *:first-child{
		margin-top: 0;
	}

	> *:last-child{
		margin-bottom: 0;
	}
}

/* utilities class */

.hide{
	display: none;
}