// basic

*, *:before, *:after {
	@include box-sizing;
}

html{
  height: 100%;
  width: 100%;
}

body{
  min-height: 100%;
  width: 100%;
}

nav, aside{
	ul{
		list-style: none;
	 	padding-left: 0;
	}
}

/* LINK BASIC */

a{
	color: $link-color;
	text-decoration: none;
	&:hover:not(.button), &.active{
		color: $link-color-active;
	}

}

/* paragraphe and title basic */

h1, h2, h3, h4, h5, h6{
}

hr{
}

.container{
	display: block;
}

p{
}

.content{
	width: 100%;
	line-height: 1.4;
	
	hr{
	}
	
	h4{
	}

	> *:first-child{
		margin-top: 0;
	}

	> *:last-child{
		margin-bottom: 0;
	}
}

/* utilities class */

.hide{
	display: none;
}