/* simple bloc */

.simple{
	@extend %flex-column;

	.thumbnail{
		@include flex-shrink(0);
		position: relative;
		overflow: hidden;
		width: 50%;
		margin: -$gutter-medium;
		margin-right: $gutter-large;
		border: none;

		img{
			position: absolute;
			max-height: 100%;
			min-width: 100%;
			width: auto;
		}
	}

	.title{
		margin-bottom: $gutter-small;
	}

	h5{
		@include colors(&) { 
			color: $light-grey; 
		} ;
		font-size: $ft-size-medium;
	}

	h4{
		border-bottom: $one solid;
		@include colors(&, "bd");
		padding-bottom: $gutter-small;
	}

	ul{
		list-style: none;
		padding-left: $gutter-small;

		li:before {
	    content: "•";
	    margin-right: $gutter-small;
	    @include colors(&) {
	    	color: $grey; 
	    };
		}

		b, strong{
			@include colors(&) {
	    	color: $grey; 
	    };
		}
	}

}

/* actu bloc */

.actu{
	@extend %post-it;

	.thumbnail{ display: none; }

	&.highlight{
		.thumbnail{
			display: block;
		}
	}

	&:first-child{
		.thumbnail{
			display: block;
		}
	}
}

/* intro bloc */

.intro{
	.content{
		font-family: $title-font;
		text-align: center;
		p{
			@include colors(&);
		}
	}
}